<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aplab12performanceevaluationportalapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>aplab12performanceevaluationportalapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>aplab12performanceevaluationportalapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$aplab12performanceevaluationportalapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PerformanceEvaluationPortal" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:aplab12sql.database.windows.net,1433;Initial Catalog=PerformanceEvaluationPortal;User ID=null@aplab12sql.database.windows.net;Password=Pass4SQL" Name="Data Source=tcp:aplab12sql.database.windows.net,1433;Initial Catalog=PerformanceEvaluationPortal;User Id=null@aplab12sql.database.windows.net;Password=Pass4SQL" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PerformanceEvaluationPortal.DAL.ApplicationDbContext, PerformanceEvaluationPortal.DAL" MigrationConfiguration="PerformanceEvaluationPortal.DAL.Migrations.Configuration, PerformanceEvaluationPortal.DAL" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PerformanceEvaluationPortal-Web.config Connection String">
      <ParameterValue>Data Source=tcp:aplab12sql.database.windows.net,1433;Initial Catalog=PerformanceEvaluationPortal;User Id=null@aplab12sql.database.windows.net;Password=Pass4SQL</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>