<div class="container" [@animateIn]="'in'" *ngIf="user">
    <div class="col-sm-5">
        <div class="well well-lg">
            <h4>
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                <strong>{{user.firstName}}&nbsp;{{user.lastName}}</strong>
            </h4>
            <strong>{{user.jobTitle.name}},</strong>&nbsp;{{user.jobPosition.name}}
        </div>
        <div *ngIf="myTeamReviewer">
            <div class="list-group-item active"><strong> My Team</strong></div>
            <div class="list-group">
                <a *ngFor="let teamMember of myTeamReviewer" class="list-group-item ">
                    {{teamMember.firstName}}&nbsp;{{teamMember.lastName}}
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-7" *ngIf="peReviewer">
        <div class="list-group-item active">
            <strong>
                Performance Evaluations
                <span class="badge">{{peReviewer.length}}</span>
            </strong>
        </div>
        <div class="list-group">
            <div *ngFor="let pe of peReviewer" class="list-group-item ">
                <h4 tooltip="Performance evaluation is pass due date."
                    [tooltipDisabled]="false"
                    [tooltipAnimation]="true"
                    tooltipPlacement="left"
                    *ngIf="pe.isLate" class="glyphicon glyphicon-alert" aria-hidden="true" style="color:#cc3f0c; float:right"></h4>
                <h4 tooltip="Performance evaluation is near due date."
                    [tooltipDisabled]="false"
                    [tooltipAnimation]="true"
                    tooltipPlacement="left"
                    *ngIf="pe.isNearDueDate" class="glyphicon glyphicon-alert" aria-hidden="true" style="color:gold; float:right"></h4>
                <h4>{{pe.consultantFirstName}}&nbsp;{{pe.consultantLastName}}</h4>
                <h5 class="text-muted">{{pe.consultantJobTitle.name}},&nbsp;{{pe.consultantJobPosition.name}}</h5>
                <h5 *ngIf="pe.isLate" style="color:#cc3f0c;"><strong>Due date: {{pe.dueDate | date: 'dd.MM.yyyy.'}}</strong></h5>
                <h5 *ngIf="pe.isNearDueDate"><strong>Due date: {{pe.dueDate | date: 'dd.MM.yyyy.'}}</strong></h5>
                <div class="text-right">
                    <button *ngIf="pe.inCreateStage" class="btn-create-edit-details" (click)="createPe(pe.consultantId)"><strong>Create</strong></button>
                    <button *ngIf="pe.inEditStage" class="btn-create-edit-details" (click)="editPe(pe.id)"><strong>Edit</strong></button>
                </div> 
            </div>
            <div *ngIf="peReviewer.length==0" class="list-group-item ">
                <i class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:#b1cd01"></i>
                No available performance evaluations to write.
            </div>
        </div>
        <div class="list-group-item active">
            <div class="col-sm-6" style="margin-top:5px">
                <strong>Performance Evaluations History</strong>
            </div>
            <div class="col-sm-offset-6">
                <input type="text" class="form-control empty" id="iconifield" placeholder="Search&hellip;" 
                       #myInput [(ngModel)]="name" (input)="filterItem(myInput.value)">
            </div>
        </div>
        <div class="list-group-history" *ngIf="peHistoryReviewer">
            <div *ngFor="let pe of filteredPes  | slice:0:itemPerPage; let i=index" class="list-group-item">
                <h4>{{pe.consultantFirstName}}&nbsp;{{pe.consultantLastName}}</h4>
                <h5 class="text-muted">{{pe.consultantJobTitle}},&nbsp;{{pe.consultantJobPosition}}</h5>
                <h5><strong>Date Submited: {{pe.dateSubmited | date: 'dd.MM.yyyy.'}}</strong></h5>
                <div class="text-right">
                    <button class="btn-create-edit-details" (click)="readPe(pe.id)"><strong>Read</strong></button>
                </div>
            </div>
        
            <div *ngIf="filteredPes.length == 0 && peHistoryReviewer.length!=0" class="list-group-item ">
                No results found.
            </div>
            <div *ngIf="peHistoryReviewer.length==0" class="list-group-item ">
                <i class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:#b1cd01"></i>
                Performance evaluation history is empty.
            </div>
        </div>
        <div class="col-md-12"><button class="btn-create-edit-details col-md-12" (click)="showMore()"></button></div>
    </div>
</div>
